
<div class="jumbotron">
  <h1> Magzara -beta </h1>
  <p>In any magzara ONLY ONE man survives</p>
  <%= link_to "Sign up now" , "#" , class: "btn btn-warning btn-lg btn-xlg" %>
  <ul>
    <%= link_to "Join discord" , "https://discord.gg/T76Ptc" , class: "btn btn-warning btn-lg btn-xlg", target: :_blank  %>
    <%= link_to "Get the game" , "https://github.com/MolhamM/Magzara-Beta" , class: "btn btn-warning btn-lg btn-xlg", target: :_blank  %> 
    <%= link_to "Become a patreon" , "https://patreon.com/user?0=u&1=%3D&2=2&3=7&4=0&5=0&6=3&7=2&8=2&9=7&utm_medium=social&utm_source=twitter&utm_campaign=creatorshare" , class: "btn btn-warning btn-lg btn-upper-left", target: :_blank  %>
  </ul>
</div>
