$navbar-default-bg :#343a40 ;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{

  float: left;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
}

#logo:hover{

  color: #fff;
  text-decoration: none;
}

#nav_items{
 color: #fff;
}

#nav_items:hover{
 background : orange;
}

#dropdown_item:hover{
 background : #FFBD00;
}

#submit_button{
  border-color:orange;
}

.deepest_background{
  position: relative;
  top: -20px;
  left: 0;
  backround-color: red;
  background-image: asset-url('desert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height : 720px;
}
.jumbotron{
  position: absolute;
  background-image: asset-url('magzara.png');
  background-size: cover;
  opacity: 0.9;
  height: 722px;
  width: 1000px;
}

.jumbotron h1{
  color : #E0FFFF;
  font-weight : bold;
}

.jumbotron p{
  color : #E0FFFF;
}
.jumbotron ul{
  text-align: center;
  padding: 100px;
}
.btn-xlg{
  background-color :#25292e;
  border-color: orange;
  margin: 40px 30px;
}

.btn-xlg:hover{
  background-color: orange;
  border-color: orange;
}

.btn-xlg:active{
  background-color: red;
  border-color: orange;
}

.footer{
  background-color:#FFFFCF;
}

.footer ul{
  float: right;
}

.btn-upper-left{
  background-color: orange;
  border-color: orange;
  margin-top: 10px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
}

.over-background{
  position: absolute;
  top: 51px;
  left: 10%;
  right: 10%;
  opacity: .9;
  height: 551px;
  width: 1000px;
}

.forms-def{
	background-color:white;
  position: absolute;
  background-size: cover;
  opacity: 1;
  width: 1000px;
  height: 722px;
}

.headline{
  margin-left: 2%;
  margin-bottom:3%;
  font-weight: bold;
}
.message-over-background{
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
}
